@mixin header {
    display: block;
    padding: 1em;
  }

  .moderada{
    text-align: center;
    margin: 8px auto;
    border: 2px solid rgb(243, 180, 34);
    width: 400px;
  }

  .baja{
    text-align: center;
    margin: 8px auto;
    border: 2px solid rgb(56, 171, 21);
    width: 400px;
  }
  
  .home {
    padding: 0.5em;
    margin-bottom: 6em;

     &__h2{
      text-align: center;
    }
    &__h3{
      text-align: center;
      margin: 8px auto;
      border: 2px solid #ab3939;
      width: 400px;
  
    }  
  }
  
  .tareas-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* para centrar horizontalmente */
    align-items: center;    /* para centrar verticalmente */
  }
  
  .tarea {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: calc(23.33% - 10px);
    box-sizing: border-box;
  }
  
  .tarea-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .tarea-title {
    margin: 0;
    font-size: 20px;
  }
  
  .tarea-priority {
    background-color: rgb(182, 30, 30);
    color: #fff;
    padding: 5px;
    border-radius: 3px;
  }
  
  .tarea-details {
    margin-top: 10px;
  }
  
  .tarea-description {
    margin: 0;
    font-size: 16px;
  }
  
  .tarea-meta {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 14px;
  }
  
  .tarea-date {
    margin-right: 10px;
  }
  
  .tarea-usuario {
    font-style: italic;
  }
  

  .tarea {
    background: white;
    border-radius: 5px;
    box-shadow: 0.1em 0.1em 0.5em lightgrey;
    color: #333;
    display: flex;
    flex-wrap: wrap;
    //margin: 0 0 6px 0;
    padding: 1px 0px 2px 8px;
    
    &__urgente {
      border-left: 5px solid rgb(182, 30, 30);
    }
  
    &__moderada {
      border-left: 5px solid rgb(243, 180, 34);
    }
  
    &__baja {
      border-left: 5px solid rgb(56, 171, 21);
    }
  
    &__titulo {
      flex: 1 1 40%;
      font-weight: bold;
      text-align: center;
    }
    &__icono {
      flex: 1 1 20%;
      text-align: left;
      &__urgente{
        color:rgb(182, 30, 30);
      }
      &__moderada{
        color:rgb(243, 180, 34);
      }
      &__baja{
        color:rgb(56, 171, 21);
      }
    }
    &__fecha, &__descripcion {
      flex: 1 1 100%;
    }
  
    &__editar {
      flex: 1 1 20%;
      text-align: right;
    }
  }